.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%, 80px);
    height: auto;
    display: block;
}

.navbar .profile{
    width: 40px;
    height: auto;
    border-radius: 50%;
}